.menu {
  display: flex;
  justify-content: center;

  width: 100%;
  margin-top: 30px;
  background: {
    position: center;
    size: 100% 100%;
    image: url("@/assets/images/menu.jpg");
    attachment: fixed;
    repeat: no-repeat;
  }
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-tittle {
  margin: 100px 0 50px 0;
  text-align: center;
  h2 {
    color: var(--primary);
    font-size: 2.5rem;
  }

  h6 {
    color: var(--white);
    font-size: 1.25rem;
  }
}

.menu-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 100px;
  row-gap: 30px;

  margin-bottom: 50px;
  width: 100%;
}

.menu {
  .menu-btn {
    margin-bottom: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    background-color: transparent;
    transition: all 0.2s linear;

    .menu-link {
      color: var(--primary);
    }

    &:hover {
      background-color: var(--primary);
      border-color: var(--primary);

      .menu-link {
        color: white;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .menu-list {
    column-gap: 50px;
  }
}

@media screen and (max-width: 842px) {
  .menu-list {
    column-gap: 100px;
    row-gap: 20px;
    grid-template-columns: 1fr;
  }
}
