.service {
  background-image: url("@/assets/images/picture_time_shop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 125px 0;

  .service-tittle {
    color: white;
    margin-bottom: 50px;

    &::after {
      border-bottom-color: white;
    }
  }
}

.service-content {
  padding: 40px 40px 100px 40px;
  max-width: 796px;
  border-radius: 20px;
  background-color: var(--primary);
}

.service-info {
  margin-bottom: 50px;
}

.service-wrapper {
  display: flex;
  color: white;
  font-weight: bold;
  p {
    margin-bottom: 10px;
    font-size: 1.25rem;
  }
}

.service-time {
  flex: 1;
  text-align: center;
}

.service-time-tittle {
  font-size: 1.5rem;
  margin-bottom: 10px;
  br {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .service-wrapper {
    p {
      font-size: 1.125rem;
    }
  }
  .service-time-tittle {
    font-size: 1.25rem;
    br {
      display: block;
    }
  }
}

@media screen and (max-width: 575px) {
  .service-wrapper {
    flex-direction: column;
    row-gap: 15px;
  }
}
