.product-form__container {
  padding: 30px;
  width: 700px;
  max-width: 100%;
}

.product-form__header {
  margin-bottom: 20px;
  font-size: 1.375rem;
  font-weight: 700;
  color: var(--primary);
}

.product-form__body {
  display: flex;
  gap: 40px;
}

.product-form__wrapper-avatar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-top: 10px;
}

.product-form__avatar {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
}

.product-form__wrapper-form {
  flex: 1;
}

.product-form__wrapper-fastFiled {
  padding-top: 10px;
  max-height: 410px;
  padding-right: 10px;
  overflow-y: auto;
}

.btn-back {
  margin-right: 10px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.product-form_controls {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .product-form__body {
    flex-direction: column;
    gap: 20px;
  }

  .product-form__avatar {
    margin: 0 auto;
    width: 100px;
    height: 100px;
  }
}
