.loading-wrapper {
  position: fixed;
  inset: 0;
  z-index: 2000;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: var(--primary);
}

.loading-img {
  width: 220px;
  height: 220px;
}
