.my-order {
  padding: 0px 0 50px;
  background-color: #f5f5fa;
}

.my-order__wrapper {
  margin-top: 50px;
}

.my-order__title {
  margin-bottom: 10px;

  color: #464646;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.my-order__body {
  margin: 0 auto;
  width: 900px;
  max-width: 100%;
}

.my-order__order-list {
  display: flex;
  flex-direction: column;
  gap: 50px;

  width: 100%;
}
