.menu-item {
  display: flex;
  align-items: center;
  column-gap: 30px;

  color: white;
  cursor: pointer;
}

.menu__img-wrap {
  .menu-img {
    width: 100px;
    max-width: unset;
    height: 100px;
    object-fit: unset;
  }
}

.menu-loading__img-wrap {
  width: 100px;
  height: 100px;
}

.menu-item-info {
  flex: 1;
}

.menu-item-title {
  display: flex;
  justify-content: space-between;

  margin-bottom: 7px;
  padding-bottom: 7px;
  border-bottom: 2px solid var(--primary);
  color: var(--primary);
}

.menu-item-name-wrapper {
  display: flex;
  align-items: center;

  span {
    padding-left: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
}

.menu-item-desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.skeleton-title {
  margin-left: 10px;
}

@media screen and (max-width: 991px) {
  .menu__img-wrap {
    .menu-img {
      width: 70px;
      height: 70px;
    }
  }

  .menu-loading__img-wrap {
    width: 70px;
    height: 70px;
  }
}
