//               Filter
.product-filter {
  padding: 16px;
  padding-bottom: 1px;
  border-radius: 10px;
  background-color: #f4f2ed;
}

.product-filter__tittle {
  display: flex;
  align-items: center;
  gap: 5px;

  margin-bottom: 10px;
  padding: 12px 0;
  border-bottom: 1px solid var(--primary);

  color: var(--text-color);
  text-transform: uppercase;
  font-weight: 700;
}

.product-filter__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-filter__heading {
  margin-bottom: 10px;
  font-weight: 700;
}

.product-filter__item {
  position: relative;
  margin: 10px 0;
  padding-left: 0;

  transition: padding-left 0.1s linear;
  cursor: pointer;

  &:hover {
    padding-left: 15px;
    color: var(--primary);
    &::before {
      display: block;
    }
  }

  &.active {
    padding-left: 15px;
    color: var(--primary);
    &::before {
      display: block;
    }
  }
}

.product-filter__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  display: none;
  border: 6px solid;
  border-color: transparent transparent transparent var(--primary);
  transform: translateY(-50%);
}

//////////////////////////////////
