//             Product Heading

.product-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;
  padding: 12px 15px;
  border-radius: 10px;
  background-color: #f4f2ed;
}

.product-tittle {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.select-input {
  display: none;
}

.product-page {
  display: flex;
  align-items: center;
}

.product-page__number {
  margin-right: 22px;
}

.product-page__current {
  color: var(--primary);
}

.product-page__control {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-btn {
  padding: 7px 13px;
  min-width: unset;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .product-heading {
    justify-content: unset;
    gap: 20px;
  }

  .product-tittle {
    display: none;
  }

  .select-input {
    display: block;
  }

  .product-page {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .product-heading {
    flex-direction: column;
    gap: 20px;
  }

  .product-page {
    display: none;
  }

  .select-input {
    width: 100%;
  }
}
