//            Product Item
.product-content {
  margin-bottom: 40px;
}

.product__notFound-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 270px;
}

.product__notFound-img {
  width: 250px;
  height: 250px;
}

//////////////////////////////////
