.no-order {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 24px;
  width: 100%;
  height: 400px;

  background-color: #fff;
  border-radius: 10px;
}

.no-order__img {
  width: 200px;
  height: 200px;
}

.no-order__title {
  margin-bottom: 10px;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}

.no-order__desc {
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
}
