@import "../node_modules/modern-normalize/modern-normalize.css";
@import "variables.css";

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  font-size: 62.5%;
} */

body {
  font-size: 0.875rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
  overflow-y: overlay;
}

.App {
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  padding: 0 var(--default-spacing);
  max-width: var(--header-container-width);
  height: 100%;
}

/* ::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 0.15);
} */

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

input,
button,
[tabindex] {
  outline: none;
  border: none;
}

a {
  color: #161823;
  text-decoration: none;
}

ol {
  margin: 0 !important;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

section {
  scroll-margin-top: var(--header-height);
}

@font-face {
  font-family: MsMadi;
  src: url("@/assets/fonts/MsMadi-Regular.ttf");
  font-weight: 400;
}
